
/*
#  Label configuration
*/
body
{
	font-family: 'Questrial', sans-serif !important;
	background: #EEEEEE;
	color: rgba(0,0,0,.6);
}

main
{
	width: 95%;
	float:none;
}

a
{

}

header
{
	margin-bottom: 10px !important;
}

header > div
{
	display: block;
}

footer
{
	margin-top: 10px !important;
}

footer > div
{
	display: block;
}

hr
{
	border-top: 3px dashed rgba(0,0,0,0.3);
}

/*
#  Id configuration
*/

#navegation
{
	float: left;
	margin-top:10px;
}

#navegation > ul
{
	padding: 0 !important;
	list-style: none !important;
	display: inline-block !important;
}

#navegation > ul > li
{
	display:inline !important;
	margin: 2px;
}

#navegation > ul > li > a
{
	color: rgba(255,255,255,1);
	font-size: 1.5em !important;
	text-decoration: none;
	padding: 15px;
}

#navegation > ul > li.disabled > a
{
	color: gray !important;
    text-decoration: none;
    cursor: not-allowed;
}

#navegation > ul > li.active > a
{
	text-decoration: none;
	color: #2056ac !important;
	background: #EEEEEE !important;
}

#navegation > ul > li > a:hover
{
	background: #EEEEEE;
	color: #2056ac;
	text-decoration: none;
}

#headerBlue
{
	background: #2056ac;
	border-radius: 0;
	border: none;
}

#header
{
}

#footer-wrapper
{
	overflow: hidden;
	background: #2056ac;
}

#footer
{
	padding: 2em 0em 2em 0em !important;
	text-align: center;
}

#logo {
	//padding: 2em 0em 2em 0em !important;
}

#logo > span > a > i {
	color: rgba(255,255,255,1);
	font-size: 0.9em !important;
}

#logo span {
	margin-top: 2px !important;
	margin-bottom: 0.20em !important;
	padding: 0.20em 0.9em !important;
	font-weight: bold;
}

#logo > span > a {
	text-decoration: none;
	color: #FFF;
	font-size: 2em !important;
}

/*
#  Class configuration
*/
header > .container
{
	margin: 10px !important;
	width: 100%;
}

footer > .container {
	margin: 0px auto;
	width: 100%;
}

.separator
{
	width: 90%;
	height: 20px;
	margin: 5px;
	padding-top: 15px; 
}

.separator > div.line{
	height: 1px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.verticalLine
{
	float: right;
	margin-left: 15px;
	padding-left: 12px;
	//border-left: 2px solid rgba(255,255,255,0.8);
	width: 80%;
}

.verticalAlign
{
	display: flex;
 	align-items: center;
}

.userinfo
{
	float: right;
	overflow: hidden;
}

.userinfo:hover
{
	cursor: pointer;
	cursor: hand; 
}

.avatar
{
	object-fit: cover;
	width: 50px;
	height: 50px;
}

.username
{
	margin-left: 3px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}

.size-17
{
	font-size: 17px;
}

.pages
{
	margin-bottom: 10px;
}


/*
#  Row background
*/

.box_white {
	min-height: 20px;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_trans {
	min-height: 20px;
	padding: 19px;
	/*background-color: #f5f5f5;*/
	/*border: 1px solid #e3e3e3;*/
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_black {
	min-height: 20px;
	padding: 19px;
	background-color: #333333;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_gray
{
	min-height: 20px;
	padding: 19px;
	background-color: #e6e6e6;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_red
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #e23b3b;
	border: 1px solid #e75757;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_blue
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #265A9A;
	border: 1px solid #214d84;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_border_blue
{
	border-left: 1px solid #214d84;
	border-bottom: 1px solid #214d84;
	border-right: 1px solid #214d84;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 15px;
	margin-top: -5px;
}

.box_lightblue
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #67C3EF;
	border: 1px solid #5eb3db;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_border_lightblue
{
	border-left: 1px solid #5eb3db;
	border-bottom: 1px solid #5eb3db;
	border-right: 1px solid #5eb3db;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 15px;
	margin-top: -5px;
}

.box_lightgreen
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #79C447;
	border: 1px solid #6aad3e;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_border_lightgreen
{
	border-left: 1px solid #6aad3e;
	border-bottom: 1px solid #6aad3e;
	border-right: 1px solid #6aad3e;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 15px;
	margin-top: -5px;
}

.box_green
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #038447;
	border: 1px solid #026d39;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_border_green
{
	border-left: 1px solid #026d39;
	border-bottom: 1px solid #026d39;
	border-right: 1px solid #026d39;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 15px;
	margin-top: -5px;
}

.box_title
{
	font-size: 2.2em;
	font-weight: bold;
}

.box_subtitle
{
	font-size: 1.1em;
	font-weight: bold;
}