
/*
#  Label configuration
*/
body
{
	font-family: 'Questrial', sans-serif !important;
	background: #EEEEEE;
	color: rgba(0,0,0,.6);
}

main
{
	width: 95%;
	float:none;
}

a
{

}

header
{
	margin-bottom: 10px !important;
}

header > div
{
	display: block;
}

footer
{
	margin-top: 10px !important;
}

footer > div
{
	display: block;
}

/*
#  Id configuration
*/
#sociallink
{
	margin-top: 25px;
	text-align: center !important;
}

#navegation
{
	text-align: center !important;
}

#navegation > ul
{
	padding: 0 !important;
	list-style: none !important;
	display: inline-block !important;
}

#navegation > ul > li
{
	display:inline !important;
	margin: 2px;
}

#navegation > ul > li > a
{
	color: rgba(255,255,255,1);
	font-size: 1.5em !important;
	text-decoration: none;
	padding: 15px;
}

#navegation > ul > li.disabled > a
{
	color: gray !important;
    text-decoration: none;
    cursor: not-allowed;
}

#navegation > ul > li.active > a
{
	text-decoration: none;
	color: #2056ac !important;
	background: #EEEEEE !important;
}

#navegation > ul > li > a:hover
{
	background: #EEEEEE;
	color: #2056ac;
	text-decoration: none;
}

#header-wrapper
{
	overflow: hidden;
	background: #2056ac;
}

#header
{
	text-align: center;
}

#footer-wrapper
{
	overflow: hidden;
	background: #2056ac;
}

#footer
{
	padding: 2em 0em 2em 0em !important;
	text-align: center;
}

#theme {
	float: right;
}

#theme span
{
	color: rgba(255,255,255,0.6);
	font-size: 1.2em;
}

#theme > ul
{
	list-style: none !important;

	display: table;
	height: 1px;
	margin: 0;
	padding: 0;
}

#theme > ul > li
{
	text-align: left;
	margin: 2px;
}

#theme > ul > li > a
{
	color: rgba(255,255,255,0.8);
	font-size: 1.5em !important;
	text-decoration: none;
	text-align: left;
	display: inline-block;
    width: 100%;
	padding: 9px;
    height: auto;
}

#theme > ul > li > a:hover
{
	background: #1A478E;
	color: rgba(255,255,255,1);
	text-decoration: none;
}



#logo {
	padding: 2em 0em 2em 0em !important;
}

#logo i {
	color: rgba(255,255,255,1);
}

#logo h1 {
	display: block;
	margin-top: 2px !important;
	margin-bottom: 0.20em !important;
	padding: 0.20em 0.9em !important;
	font-size: 3.5em !important;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

/*
#  Class configuration
*/
header > .container {
	margin: 0px auto;
	width: 100%;
}

footer > .container {
	margin: 0px auto;
	width: 100%;
}

.panelAdmin > a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}

.panelAdmin > a:hover
{
	color: rgba(255,255,255,1);
}

.separator
{
	width: 90%;
	height: 20px;
	margin: 5px;
	padding-top: 15px; 
}

.separator > div.line{
	height: 1px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

p.welcome
{
	font-size: 2em;
}

.title
{
	margin-top: -5px;
	font-size: 1.7em;
	//font-weight:600;

}

.center
{
    width: 80%;
}



.add_route
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.add_lang
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.add_theme_config
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_replace_e
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_file
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	border-top: 1px solid #222222 !important;
	padding: 15px 15px 0 15px !important;
	margin: 4px auto 0 auto;
}

.mod_before
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_after
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_replace
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_move_file
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_exit
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	border-bottom: 1px solid #222222 !important;
	padding: 0 15px 15px 15px !important;
	margin: 0 auto 4px auto;
}

.db_add_column
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.db_insert
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.db_create_table
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}



.info
{
}

table
{
	margin: 5px 0 0 10px;
}

table>tbody>tr>td
{
	padding: 6px;
}

.buttonInstall
{
	display:block;
    margin: 0 auto;
}

/*
#  c_color
*/
.c_blue
{
	background-color: #265A9A;
	color: white;
	padding: 1px;
}

.c_green
{
	background-color: #038447;
	color: white;
	padding: 1px;
}

/*
#  Row background
*/

.box_white {
	min-height: 20px;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_trans {
	min-height: 20px;
	padding: 19px;
	/*background-color: #f5f5f5;*/
	/*border: 1px solid #e3e3e3;*/
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_black {
	min-height: 20px;
	padding: 19px;
	background-color: #333333;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_gray
{
	min-height: 20px;
	padding: 19px;
	background-color: #e6e6e6;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_red
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	background-color: #e23b3b;
	border: 1px solid #e75757;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}