
/*
#  Label configuration
*/
body
{
	//background-color: #d5d5d5;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size:10pt;
}

main
{
	width: 95%;
	float:none;
}

footer
{
	padding: 15px;
	background-color: #333333;
	/*height: 85px;*/
	margin: 12px 0 12px 0;
}

a
{
	color: #d5d5d5;
}

a:hover
{
	color: #bbbbbb;
	text-decoration: none;
}

nav > ul
{
	margin-top: 10px;
}


/*
#  Id configuration
*/


/*
#  Class configuration
*/
.title
{
	/*color: #d5d5d5;
	font-family: 'Harabara', sans-serif;*/
	margin-top: -5px;
	font-size: 2.8em;
	//font-weight:600;

}

.center
{
    width: 80%;
}

.add_route
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.add_lang
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.add_theme_config
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_replace_e
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_file
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	border-top: 1px solid #222222 !important;
	padding: 15px 15px 0 15px !important;
	margin: 4px auto 0 auto;
}

.mod_before
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_after
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_replace
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	padding: 0 15px 5px 15px !important;
	margin: 0 auto 0 auto;
}

.mod_move_file
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.mod_exit
{
	border-left: 1px solid #222222 !important;
	border-right: 1px solid #222222 !important;
	border-bottom: 1px solid #222222 !important;
	padding: 0 15px 15px 15px !important;
	margin: 0 auto 4px auto;
}

.db_add_column
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.db_insert
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.db_create_table
{
	border: 1px solid #222222 !important;
	padding: 15px 15px 12px 15px !important;
	margin: 4px auto 4px auto;
}

.info
{
	color: white !important;
}

table
{
	margin: 5px 0 0 10px;
}

table>tbody>tr>td
{
	padding: 6px;
}

.buttonInstall
{
	display:block;
    margin: 0 auto;
}

/*
#  c_color
*/
.c_blue
{
	background-color: #265A9A;
	color: white;
	padding: 1px;
}

.c_green
{
	background-color: #038447;
	color: white;
	padding: 1px;
}

/*
#  Row background
*/

.box_well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_trans {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	/*background-color: #f5f5f5;*/
	/*border: 1px solid #e3e3e3;*/
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_black {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #333333;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_gray
{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #e6e6e6;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.box_red
{
	color: #f3f3f3;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #e23b3b;
	border: 1px solid #e75757;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}