{% include getVal("_header") ~ '.tpl' %}
		<div class="row">
			<div class="col-md-12 box_trans">
				{% include 'loadmodule.0' ignore missing %}
			</div>
		</div>
		<div class="separator">
			<div class="line"></div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="col-md-12 box_trans">
					{% include 'loadmodule.1' ignore missing %}
				</div>
			</div>
			<div class="col-md-3 box_trans">
				{% include 'loadmodule.2' ignore missing %}
			</div>
		</div>
{% include getVal("_footer") ~ '.tpl' %}