{% include getVal("_header") ~ '.tpl' %}
		<div class="row">
			<div class="col-md-12 box_red">
				<h1> {{ lang.about }} - {{ data.test }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
			    <div class="col-md-12 box_gray">	
					<p style="text-align: justify;">His vero singulis ea, quem euripidis abhorreant mei ut, et populo iriure vix. Usu ludus affert voluptaria ei, vix ea error definitiones, movet fastidii signiferumque in qui. Vis prodesset adolescens adipiscing te, usu mazim perfecto recteque at, assum putant erroribus mea in. Vel facete imperdiet id, cum an libris luptatum perfecto, vel fabellas inciderint ut. Veri facete debitis ea vis, ut eos oratio erroribus. Sint facete perfecto no vel, vim id omnium insolens. Vel dolores perfecto pertinacia ut, te mel meis ullum dicam, eos assum facilis corpora in.</p>
					{% include 'loadmodule.1' ignore missing %}
				</div>
			</div>
			<div class="col-md-6 box_gray"><p style="text-align: justify;">His vero singulis ea, quem euripidis abhorreant mei ut, et populo iriure vix. Usu ludus affert voluptaria ei, vix ea error definitiones, movet fastidii signiferumque in qui. Vis prodesset adolescens adipiscing te, usu mazim perfecto recteque at, assum putant erroribus mea in. Vel facete imperdiet id, cum an libris luptatum perfecto, vel fabellas inciderint ut. Veri facete debitis ea vis, ut eos oratio erroribus. Sint facete perfecto no vel, vim id omnium insolens. Vel dolores perfecto pertinacia ut, te mel meis ullum dicam, eos assum facilis corpora in.</p>
				{% include 'loadmodule.2' ignore missing %}
			</div>
			<div class="col-md-3 ">
			    <div class="col-md-12 box_gray">
					<p style="text-align: justify;">His vero singulis ea, quem euripidis abhorreant mei ut, et populo iriure vix. Usu ludus affert voluptaria ei, vix ea error definitiones, movet fastidii signiferumque in qui. Vis prodesset adolescens adipiscing te, usu mazim perfecto recteque at, assum putant erroribus mea in. Vel facete imperdiet id, cum an libris luptatum perfecto, vel fabellas inciderint ut. Veri facete debitis ea vis, ut eos oratio erroribus. Sint facete perfecto no vel, vim id omnium insolens. Vel dolores perfecto pertinacia ut, te mel meis ullum dicam, eos assum facilis corpora in.</p>
					{% include 'loadmodule.3' ignore missing %}
				</div>
			</div>
		</div>
{% include getVal("_footer") ~ '.tpl' %}