{% include getVal("_header") ~ '.tpl' %}
		<div class="row">
			<div class="col-md-12 box_red">
				{% include 'loadmodule.0' ignore missing %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
			    <div class="col-md-12 box_gray">
					{% include 'loadmodule.1' ignore missing %}
				</div>

			</div>
			<div class="col-md-6 box_gray">
				{% include 'loadmodule.2' ignore missing %}
			</div>
			<div class="col-md-3">
			    <div class="col-md-12 box_gray">
					{% include 'loadmodule.3' ignore missing %}
				</div>
			</div>
		</div>
{% include getVal("_footer") ~ '.tpl' %}