
			<div class="separator">
				<div class="line"></div>
			</div>
		</main>

		<footer>
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<div id="theme">
					</div>
				</div>
			</div>
			<!--
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Framework Basico</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Jovani Pérez (BlackBlex)</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional License</a>.
			-->
		</footer>
	</body>
</html>